.item a:hover{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid red;
}

.active{
    color: rgb(255, 255, 255);
    border-bottom:2px solid red;
}

.item a {
    text-decoration: none;
    margin-left: 10px;

}

.nevNew{
    display: flex!important;
    flex-basis: auto;
    flex-direction: row-reverse;
}
img.ml-5 {
    height: 43px;
}
