.item a:hover{
    color: rgb(248, 16, 16);
    border-bottom: 2px solid red;
}

.active{
    color: rgb(253, 19, 19);
    border-bottom:2px solid red;
}
.actives{
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #14751f;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.item a {
    text-decoration: none;
    margin-left: 10px;

}

.nevNew{
    display: flex!important;
    flex-basis: auto;
    flex-direction: row-reverse;
}
img.ml-5 {
    height: 43px;
}
